@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

body {
    font-family: 'Poppins';
    color: #2F281E;
}

/* -------- */
.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

[class*="__container"] {
    max-width: 1100px;
    margin: 0px auto;
}


/* -------- */

.main {
    flex: 1 1 auto;
}

.header {
    width: 100%;
    top: 0;
    left: 0;

}

.header__container {
    display: flex;
    min-height: 116px;
    align-items: center;

}

.header__logo {}

.header__menu {
    flex: 1 1 auto;
}

.menu {
    display: flex;
    justify-content: flex-end;
    padding: 0 49px 0 0;

}

.menu__list {
    display: flex;
    gap: 27px;
}

.menu__item {}

.menu__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    color: #2F281E;
}


.button-menu {
    display: inline-flex;
    Font-family: Poppins;
    font-weight: 600;
    font-size: 16px;
    line-height: 12px;
    color: #173A56;
    background-color: #FFFFFF;
    padding: 11px 23px;
    border-radius: 4px;
    transition: all 0.6 ease 4s;

}

.button-menu:first-child {
    border: 1px solid #c9d9e9;

}

.button-menu:last-child {
    color: #FFFFFF;
    background-color: #FF9900;
}

.button-menu:hover {
    background-color: #e6ecf3;
}

.button-menu:last-child:hover {
    background-color: #ce7c00;
}

/* -------------------------- */


.superpower {}

.superpower__container {
    display: flex;
    padding-bottom: 97px;

}

.superpower__content {
    flex: 0 1 48%;
}

.block-text {
    padding-top: 85px;
}

.block-text__title {

    width: 518px;
    height: 108px;
    font-weight: 700;
    font-size: 44px;
    line-height: 54px;
    margin-bottom: 30px;
}

.block-text__text {
    width: 458px;
    height: 95px;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 45px;
    color: #544837;

}

.block-text__button {
    display: inline-flex;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    background: #FF9900;
    padding: 11px 23px;
    border-radius: 4px;
}

.block-text__button:last-child {

    color: #FF9900;
    background: #FFFFFF;
    align-items: center;
}

.superpower__image {
    flex: 0 1 52%;
    max-width: 100%;

}


/* -------------------------- */


.feature__container {
    Width: 2211px;
    height: 543px;
    margin-bottom: 80px;
}

.feature__content {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 60px;
}

.feature__title {

    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    text-align: center;
    margin-bottom: 54px;
}

.feature__item {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #544837;
}

.feature__icon {
    margin-bottom: 30px;
}

.feature__sub-titles {
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    color: #2F281E;
    margin-bottom: 13px;
}

.feature__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;

}

.feature__sign-up {
    display: flex;
    justify-content: center;

}

.feature__button {
    display: inline-flex;
   
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    background: #FF9900;
    padding: 11px 23px;
    border-radius: 4px;
}

/* ------- */

.designers {}

.designers__container {
    display: flex;
    margin-bottom: 118px;
}

.designers__content {
    flex: 0 1 50%;
}

.designers__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    color: #2F281E;
    margin-bottom: 22px;
}

.designers__sub-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    color: #2F281E;
    margin-bottom: 12px;

}

.designers__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #544837;
    margin-bottom: 25px;

}

.designers__image {
    margin-left: 104px;
    flex: 0 1 50%;
}

/* ------------ */


.pms {}

.pms__container {
    display: flex;
    margin-bottom: 104px;
}

.pms__image {
    flex: 0 1 50%;
    margin-right: 102px;
}

.pms__content {
    flex: 0 1 50%;
}

.pms__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;

    color: #2F281E;
    margin-bottom: 22px;
}

.pms__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;

    color: #544837;
    margin-bottom: 30px;

}



/* ------- */

.marketers {}

.marketers__container {
    display: flex;
    margin-bottom: 118px;
}

.marketers__content {
    flex: 0 1 50%;
}

.marketers__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    color: #2F281E;
    margin-bottom: 22px;
}

.marketers__sub-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    color: #2F281E;
    margin-bottom: 12px;

}

.marketers__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #544837;
    margin-bottom: 25px;

}

.marketers__image {
    margin-left: 104px;
    flex: 0 1 50%;
}

/* ------- */

.footer {}

.footer__container {
    display: flex;
    width: 1109px;
    border-top: 1px solid #828282;
    text-decoration: none;
    Font-family: Poppins;
    margin-bottom: 83px;
}

.footer__logo {
    padding: 105px 0;
}

.footer__content {
    display: flex;
    padding: 167px 0 0 140px;
    gap: 150px;
    font-weight: 400;
    font-size: 16px;
    line-height: 35px;
    text-decoration: none;


    color: #544837;
}

.footer__links {


}


.footer__link {
    text-decoration: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 35px;
    color: #544837;
}


.footer__legal-list {
    width: 132px;
   height: 140px;
}

.footer__legal-link {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 35px;
    color: #544837;
    text-decoration: none;
}

.footer__button-conteiner {
    
    margin-top: 70px;
    
}

.footer__button {
    
    
    Font-family: Poppins;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    background: #FF9900;
    padding: 11px 23px;
    border-radius: 4px;
    Width: 131px;
    Height: 39px;
}

.footer__input {
    
    Font-family: Poppins;
    font-weight: 400;
    font-size: 25px;
    line-height: 24px;
    width: 325px; 
    Height:48px;
    margin-bottom: 20px;

    border: 1px solid #BCD0E5;
    border-radius: 4px;

}
